%p#notice= notice

%p
  %b Career:
  = @accomplishment.career
%p
  %b Description:
  = @accomplishment.description
%p
  %b Display index:
  = @accomplishment.display_index

= link_to 'Edit', edit_accomplishment_path(@accomplishment)
\|
= link_to 'Back', accomplishments_path
