%h1 Listing achievements

%table
  %tr
    %th Jobvert
    %th Re name
    %th Display index
    %th
    %th
    %th

  - @achievements.each do |achievement|
    %tr
      %td= achievement.jobvert
      %td= achievement.re_name
      %td= achievement.display_index
      %td= link_to 'Show', achievement
      %td= link_to 'Edit', edit_achievement_path(achievement)
      %td= link_to 'Destroy', achievement, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Achievement', new_achievement_path
