= link_to 'Edit', edit_jobvert_path(@jobvert)
\|
= link_to 'Back', jobverts_path

%hr

%h1 Jobvert

%table
  %tr
    %th Position
    %th Company
    %th Website
    %th Found on
  %tr
    %td= @jobvert.position
    %td= @jobvert.company
    %td= @jobvert.website
    %td= @jobvert.found_on

%h1 Cover Letter

%div{ :style => "text-align:justify;" }
  = merge_tags(@jobvert.cover_letter.body)

%h1 Recommendations

- if @jobvert.recommendation.present? && @jobvert.recommendation.praises.any?
  - @jobvert.recommendation.praises.each do |p|
    %p{ :style => "text-align:justify;" }
      = p.comment.html_safe
      %span.commented-at{ :style => "float:right;" }== #{p.reference_name.html_safe} / #{p.reference_title} / #{p.employer.html_safe} / #{p.year}

%h1 Work Experience

- if @jobvert.work_experience.present? && @jobvert.work_experience.careers.any?
  - @jobvert.work_experience.careers.each do |c|
    %h3== #{c.position} / #{c.employer.html_safe} <span style='float:right;'>#{c.duration}</span>
    = c.description.html_safe
    
    - if c.accomplishments.present? && c.accomplishments.any?
      %h5 Accomplishments
      %ul{ :style => "list-style-image: url('/images/tick.png');" }
        - c.accomplishments.each do |a|
          %li= a.description
    
    %div.span-24{ :style => "border-top: dotted #ccc 1px; margin:0;" }
      %div.span-12{ :style => "#{display_right_border(c) ? 'border-right: dotted #ccc 1px; margin:0;' : 'margin:0;'}" }
        - if c.responsibilities.present? && c.responsibilities.any?
          %h5 Responsibilities
          %ul
            - c.responsibilities.each do |r|
              %li= r.description.html_safe
    
      %div.span-12.last{ :style => "#{display_right_border(c) ? 'margin:0;' : 'border-left: dotted #ccc 1px; margin:0;'}" }
        - if c.tags.present? && c.tags.any?
          %h5{ :style => "float:right;" } Tags
          %br
          %ul{ :style => "text-align:right; margin-right:0; list-style: none;" }
            - c.tags.each do |t|
              %li= t.description

    %hr